page-agriculture {
    ion-card{
        background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important;
        background-clip: content-box;
        border-radius: 5px;
    }

    ion-list{
        background: transparent !important;
    }

    ion-item{
        background: transparent !important;
    }

}
