page-summary {

    .valueItem{
        margin-right: auto;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        position: relative;
        display: table !important;
        margin-left: auto;
        background: transparent !important;


    }

    ion-list{
        background: transparent !important;
    }

    ion-item{
        background: transparent !important;
    }

    .valueItemSmall{
        margin-right: auto;
        text-align: center;
        font-size: 0.8em;
        font-weight: bold;
        position: relative;
        display: table !important;
        margin-left: auto;
        background: transparent !important;
    }

    .values{

        border: 0px solid;
        border-radius: 50%; 
        height: 5em; 
        width: 5em;
        font-size: 1.5em;
        padding: 10% 3px 0 3px;
        margin-bottom: 5px;
        text-align: center;
        color: white;
        background-clip: content-box;
        background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
        margin-top: 10px;
        -webkit-box-shadow: 0 0 20px #1e3c72;
    }



    ion-card{
        background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important;
        background-clip: content-box;
        border-radius: 5px;
    }


    *, *:before, *:after {
        box-sizing: border-box;
      }
      
      html{
        background: #F5F6FA;
        font-family: 'Open Sans';
        color: #67717D;
        font-size: 14px;
      }
      
      .forecast{
        z-index: 3;
        position: absolute; // Reposition logo from the natural layout
        left: 35%;

        padding-bottom: 10px;
        position: relative;
      }
      
      .forecast__label{
        position: absolute;
        left: 100px;
        top: 50%;
        margin-top: -15px;
      }
      
      .forecast__sunny{
        width: 60px;
        height: 60px;
        position: relative;
      }
      .forecast__sunny::before{
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        background: #fdf6c6;
        border: 1px solid #faeb7c;
        border-radius: 50%;
        animation-duration: 1.6s;
        animation-name: fadeIn;
        animation-iteration-count: infinite;
      }
      
      .forecast__sunny::after{
        width: 40px;
        height: 40px;
        background: #faeb7c;
        border-radius: 50%;
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        top: 50%;
        margin-top: -20px;
        border: 1px solid #F5D76A;
      }
      
      .forecast__cloudy__sun{
        width: 40px;
        height: 40px;
        background: #faeb7c;
        border-radius: 50%;
        border: 1px solid #F5D76A;
        margin-left: 10px;
      }
      
      .forecast__cloudy__cloud, .forecast__rainy__cloud,.forecast__snow__cloud{
        width: 30px;
        height: 25px;
        top: 50%;
        margin-top: -10px;
        background: white;
        position: absolute;
        border: 1px solid #7ccafa;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
      }
      
      .forecast__cloudy__cloud:after, .forecast__rainy__cloud:after,.forecast__snow__cloud:after{
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: white;
        border-top: 1px solid #7ccafa;
        border-left: 1px solid #7ccafa;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        bottom: 0px;
      }
      
      .forecast__cloudy__cloud:before, .forecast__rainy__cloud:before, 
      .forecast__snow__cloud:before{
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background: white;
        border-top: 1px solid #7ccafa;
        border-right: 1px solid #7ccafa;
        border-radius: 50%;
        position: absolute;
        right: -9px;
        bottom: 0px;
      }
      
      .forecast__cloudy__cloud--normal{
        animation-duration: 6s;
        animation-name: moveRight;
        animation-iteration-count: infinite;
      }
      
      .forecast__cloudy__cloud--small{
        transform: scale(0.5);
        left: 50px;
        margin-top: -20px;
        animation-duration: 6s;
        animation-name: moveLeft;
        animation-iteration-count: infinite;
      }
      
      .forecast__rainy, .forecast__snow{
        height: 50px;
        overflow: hidden;
        position: relative;
      }
      
      .forecast__rainy__cloud--grey{
        top: 10px;
        border: 0px;
        margin-left: 15px;
        background: linear-gradient(to bottom, #7F868D, #466D98)
      }
      
      .forecast__rainy__cloud--grey:after{
        border-top: 1px solid #7F868D;
        border-left: 1px solid #7F868D;
        background: linear-gradient(to bottom, #7F868D, #466D98)
      }
      .forecast__rainy__cloud--grey:before{
        border-top: 1px solid #7F868D;
        border-right: 1px solid #7F868D;
        background: linear-gradient(to bottom, #7F868D, #466D98)
      }
      
      .forecast__rainy__rain{
        position: absolute;
        width: 2px;
        background: #689EDB;
        top: 17px;
      }
      
      .forecast__rainy__rain--one{
        left: 15px;
        height: 10px;
        animation-duration: 1s;
        animation-name: raining;
        animation-iteration-count: infinite;
      }
      .forecast__rainy__rain--two{
        left: 25px;
        height: 10px;
        animation-duration: 1s;
        animation-name: raining;
        animation-delay: 0.4s;
        animation-iteration-count: infinite;
      }
      .forecast__rainy__rain--three{
        left: 35px;
        height: 10px;
        animation-duration: 1s;
        animation-delay: 0.7s;
        animation-name: raining;
        animation-iteration-count: infinite;
      }
      .forecast__rainy__rain--four{
        left: 45px;
        height: 10px;
        animation-duration: 1s;
        animation-name: raining;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
      }
      
      .forecast__snow__cloud--grey{
        top: 10px;
        border: 0px;
        margin-left: 15px;
        background: linear-gradient(to bottom, #ECEFF2, #CBD0D6)
      }
      
      .forecast__snow__cloud--grey:after{
        border-top: 1px solid #ECEFF2;
        border-left: 1px solid #ECEFF2;
        background: linear-gradient(to bottom, #ECEFF2, #CBD0D6)
      }
      .forecast__snow__cloud--grey:before{
        border-top: 1px solid #ECEFF2;
        border-right: 1px solid #ECEFF2;
        background: linear-gradient(to bottom, #ECEFF2, #CBD0D6)
      }
      
      .forecast__snow__snow{
        position: absolute;
        width: 1px;
        height: 5px;
        background: #7ccafa;
        top: 10px;
      }
      .forecast__snow__snow:after{
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: 1px;
        top: 50%;
        margin-top: 0px;
        background: #7ccafa;
        margin-left: -2px;
      }
      
      .forecast__snow__snow--first{
        left: 15px;
        animation-duration: 1s;
        animation-name: raining;
        animation-delay: 0s;
        animation-iteration-count: infinite;
      }
      
      .forecast__snow__snow--second{
        left: 25px;
        animation-duration: 1s;
        animation-name: raining;
        animation-delay: 0.4s;
        animation-iteration-count: infinite;
      }
      
      .forecast__snow__snow--third{
        left: 35px;
        animation-duration: 1s;
        animation-name: raining;
        animation-delay: 0.2s;
        animation-iteration-count: infinite;
      }
      
      .forecast__snow__snow--fourth{
        left: 45px;
        animation-duration: 1s;
        animation-name: raining;
        animation-delay: 0.8s;
        animation-iteration-count: infinite;
      }
      
      /* animations */
      @keyframes fadeIn {
        0% {
          opacity: 1;
        }
      
        50% {
          opacity: 0;
        }
        
        100% {
          opacity: 1;
        }
      }
      
      @keyframes moveRight {
        0% {
          left: 10px;
        }
        
        50% {
          left: 45px;
        }
        
        100% {
          left: 10px;
        }
      }
      
      @keyframes moveLeft {
        0% {
          left: 50px;
        }
        
        50% {
          left: 10px;
        }
        
        100% {
          left: 50px;
        }
      }
      
      @keyframes raining {
        0% {
          top: 15px;
        }
        100% {
          top: 50px;
        }
      }







      //Sun effects

      body {
        background:#2EB5E5 ;
      }
      
      .sun { 
        position: fixed;
          z-index: -1;
          top:5%;
          left:5%;
          right:0;
          bottom:0;
          width:70px;
          height:70px;
          border-radius:50%;	
          background:rgb(255, 251, 7);
          opacity:0.9;			
          box-shadow: 0px 0px 40px 15px rgb(255, 238, 3);  
      }
      
      .ray_box {
        position: absolute;
        margin: auto;
          top:0px;
          left:0;
          right:0;
          bottom:0;	
        width:70px;  
        -webkit-animation: ray_anim 120s linear infinite;
        animation: ray_anim 120s linear infinite;
      }
      .ray {  
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
              background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
          margin-left:10px;
          border-radius:80% 80% 0 0;
          position:absolute;
          opacity:0.1;
      }
      
      .ray1 {    
          height:170px;
          width:30px;
         -webkit-transform: rotate(180deg);
          top:-175px;
          left: 15px;
      }
      .ray2 {
          height:100px;
          width:8px;
         -webkit-transform: rotate(220deg);
          top:-90px;
          left: 75px;
      }
      .ray3 {
          height:170px;
          width:50px;
         -webkit-transform: rotate(250deg);
          top:-80px;
          left: 100px;
      }
      .ray4 {
          height:120px;
          width:14px;
         -webkit-transform: rotate(305deg);
          top:30px;
          left: 100px;
      }
      .ray5 {
          height:140px;
          width:30px;
         -webkit-transform: rotate(-15deg);
          top:60px;
          left: 40px;
      }
      .ray6 {
          height:90px;
          width:50px;
         -webkit-transform: rotate(30deg);
          top:60px;
          left: -40px;
      }
      .ray7 {
          height:180px;
          width:10px;
         -webkit-transform: rotate(70deg);
          top:-35px;
          left: -40px;
      }
      .ray8 {
          height:120px;
          width:30px;
         -webkit-transform: rotate(100deg);
          top:-45px;
          left:-90px;
      }
      .ray9 {
          height:80px;
          width:10px;
         -webkit-transform: rotate(120deg);
          top:-65px;
          left:-60px;
      }
      .ray10 {
          height:190px;
          width:23px;
         -webkit-transform: rotate(150deg);
          top:-185px;
          left: -60px;
      }
      
      
      @-webkit-keyframes ray_anim { 
              0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
          100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
      }


    //cloud effects

    #background-wrap {
        bottom: 0;
        left: 0;
        padding-top: 50px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
    }
    
    /* KEYFRAMES */
    
    @-webkit-keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @-moz-keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    @keyframes animateCloud {
        0% {
            margin-left: -1000px;
        }
        100% {
            margin-left: 100%;
        }
    }
    
    /* ANIMATIONS */
    
    .x1 {
        -webkit-animation: animateCloud 35s linear infinite;
        -moz-animation: animateCloud 35s linear infinite;
        animation: animateCloud 35s linear infinite;
        
        -webkit-transform: scale(0.65);
        -moz-transform: scale(0.65);
        transform: scale(0.65);
    }
    
    .x2 {
        -webkit-animation: animateCloud 20s linear infinite;
        -moz-animation: animateCloud 20s linear infinite;
        animation: animateCloud 20s linear infinite;
        
        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        transform: scale(0.3);
    }
    
    .x3 {
        -webkit-animation: animateCloud 30s linear infinite;
        -moz-animation: animateCloud 30s linear infinite;
        animation: animateCloud 30s linear infinite;
        
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
    }
    
    .x4 {
        -webkit-animation: animateCloud 18s linear infinite;
        -moz-animation: animateCloud 18s linear infinite;
        animation: animateCloud 18s linear infinite;
        
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        transform: scale(0.4);
    }
    
    .x5 {
        -webkit-animation: animateCloud 25s linear infinite;
        -moz-animation: animateCloud 25s linear infinite;
        animation: animateCloud 25s linear infinite;
        
        -webkit-transform: scale(0.55);
        -moz-transform: scale(0.55);
        transform: scale(0.55);
    }
    
    /* OBJECTS */
    
    .cloud {
        background: #fff;
        background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
        background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
        background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
        background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
        background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
        
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        
        -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    
        height: 120px;
        position: relative;
        width: 350px;
    }
    
    .cloud:after, .cloud:before {
        background: #fff;
        content: '';
        position: absolute;
        z-indeX: -1;
    }
    
    .cloud:after {
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    
        height: 100px;
        left: 50px;
        top: -50px;
        width: 100px;
    }
    
    .cloud:before {
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
    
        width: 180px;
        height: 180px;
        right: 50px;
        top: -90px;
    }

    //make rain

    svg {
        position: absolute;
        top: 0;
        width: 1000px;
        left: 50%;
        margin-left: -500px;
      }
      
      .lightning-wrap { 
          .lightning-bg {
            background-color: #fff;
            width: 100%;
            height: 100vh;
            opacity: 0;
          }
          .lightning {
            fill:#fff;
            opacity: 0;
          }
          .lightning2 {
            fill:#fff;
            opacity: 0;
            position: absolute;
            top: -50px;
            left: 430px;
            transform: rotateZ(-5deg);
          }
        &:hover {
          .lightning-bg {
            animation: animate-flash .1s 2 linear;
          }
          .lightning {
            animation: animate-flash .1s 2 .2s linear;
          }
          .lightning2 {
            animation: animate-flash .1s 2 .5s linear;
          }
        }
      }
      @-webkit-keyframes dash1 {
        from {
          stroke-dashoffset: 2200;
        }
        to {
          stroke-dashoffset: 0;
        }
      }
      
      .rain {
        position: absolute;
        width: 100%;
        height: 10px;
        top: -250px;
        left: 0;
      }
      .rain2 {
        position: absolute;
        width: 100%;
        height: 10px;
        top: -250px;
        left: 150px;
        opacity: .6;
      }
      .rain3 {
        position: absolute;
        width: 100%;
        height: 10px;
        top: -250px;
        left: 350px;
        opacity: .7;
      }
      .rain4 {
        position: absolute;
        width: 100%;
        height: 10px;
        top: -290px;
        left: 500px;
        opacity: .8;
      }
      .rain5 {
        position: absolute;
        width: 100%;
        height: 10px;
        top: -290px;
        left: 800px;
        opacity: .9;
      }
      .drop {
        position: inherit;
        height: 30px;
        width: 1px;
        border-radius: 5px 5px 5px 5px;
        background-color: powderblue;
        animation: raining .7s infinite cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      @for $i from 1 through 10 {
        .drop.drop-#{$i}::before {
          content: '';
          position: relative;
          width: 5px;
          height: 10px;
        }
        .drop.drop-#{$i} {
          left: 30px * $i;
          top: random(30) * $i + px;
          animation-delay: random(3) / $i + s;
        }
      }
      
      @keyframes raining {
        0% {
          opacity: 1;
          transform: translateY(0);
        }
        100% {
          opacity: 0;
          transform: translateY(100vh);
        }
      }
      @keyframes animate-flash {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
}
