<!--
  Generated template for the SummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>




  <ion-list no-lines>



    <ion-img style="position: fixed; top: 0%; left: 0%; right: 0%; bottom:0%; width: 100%; height: 100%;" class="logo" src="assets\\imgs\\canva-photo-editor.png"></ion-img>
    <ion-item>
      <div class="temperature">
        <div *ngIf="lastValue!=null" class="valueItem">
          <div class="values">
            <div *ngIf="weatherStatus == 1" class="forecast">
              <div class="forecast__sunny"></div>
            </div>

            <div *ngIf="weatherStatus == 2" class="forecast">
              <div class="forecast__cloudy">
                <div class="forecast__cloudy__sun"></div>
                <div class="forecast__cloudy__cloud forecast__cloudy__cloud--small">
                </div>
                <div class="forecast__cloudy__cloud forecast__cloudy__cloud--normal">
                </div>
              </div>
            </div>

            <div *ngIf="weatherStatus == 3" class="forecast">
              <div class="forecast__rainy">
                <div class="forecast__rainy__rain forecast__rainy__rain--one">
                </div>
                <div class="forecast__rainy__rain forecast__rainy__rain--two">
                </div>
                <div class="forecast__rainy__rain forecast__rainy__rain--three">
                </div>
                <div class="forecast__rainy__rain forecast__rainy__rain--four">
                </div>
                <div class="forecast__rainy__cloud forecast__rainy__cloud--grey"></div>
              </div>
            </div>

            <div *ngIf="weatherStatus == 4" class="forecast">
              <div class="forecast__snow">
                <div class="forecast__snow__snow forecast__snow__snow--first"></div>
                <div class="forecast__snow__snow forecast__snow__snow--second"></div>
                <div class="forecast__snow__snow forecast__snow__snow--third"></div>
                <div class="forecast__snow__snow forecast__snow__snow--fourth"></div>
                <div class="forecast__snow__cloud forecast__snow__cloud--grey"></div>
              </div>
            </div>


            {{lastValue.temperature}}°C
            <br>

            <ion-icon [name]="getArrowIcon('temperature_tendency')"></ion-icon>
          </div>
          <div style="color:#1e3c72">Temperature</div>
        </div>
      </div>

    </ion-item>

    <ion-item>
      <div class="other">
        <ion-row>

          <ion-col>
            <div *ngIf="lastValue!=null" class="valueItemSmall">
              <div class="values"><br>
                {{lastValue.humidity}}%
                <br>
                <ion-icon [name]="getArrowIcon('humidity_tendency')"></ion-icon>
              </div>
              <div style="color:#1e3c72">Humidity</div>
            </div>
          </ion-col>

          <ion-col>
            <div *ngIf="lastValue!=null" class="valueItemSmall">
              <div class="values">
                <br>
                {{lastValue.pressure}}Pa
                <br>
                <ion-icon [name]="getArrowIcon('pressure_tendency')"></ion-icon>
              </div>
              <div style="color:#1e3c72">Pressure</div>
            </div>
          </ion-col>

        </ion-row>

      </div>


    </ion-item>
    <ion-item>
      <ion-card *ngIf="lastValue!=null">
        <ion-card-header style="font-size: 25px; font-weight: bold; color: white;">
          Real feel: {{lastValue.heat_index}}°C
          <ion-icon name="information-circle" (click)="showHeatIndexAlert()"></ion-icon>
        </ion-card-header>

        <ion-card-content text-wrap>
          <p style="color: white; text-overflow:ellipsis;font-size: 17px">{{getHeatIndexRec()}}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="lastValue!=null">
        <ion-card-header style="font-size: 25px; font-weight: bold; color: white">
          Dew point: {{lastValue.dew_point}}°C
        </ion-card-header>

        <ion-card-content text-wrap>
          <p style="color: white; text-overflow:ellipsis;font-size: 17px">The dew point is the temperature to which air must be cooled to become saturated with water vapor.</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>