<!--
  Generated template for the SummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="temperature">
    <div *ngIf="lastValue!=null" class="valueItem">
      <div class="values">
          <ion-icon *ngIf="enableUpArrow()" name="arrow-up"></ion-icon><br>
        {{lastValue.temperature}}<br>
        <ion-icon *ngIf="enableDownArrow()" name="arrow-down"></ion-icon>
      </div>
      Temperatures
    </div>
  </div>


</ion-content>
